body {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.name {
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

